html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
table { border-collapse: collapse; border-spacing: 0px; }
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap");
.urbanist { font-family: Urbanist, sans-serif; font-optical-sizing: auto; font-weight: 600; font-style: normal; }
html { font-family: "Chivo Mono", monospace; font-optical-sizing: auto; font-weight: 400; font-style: normal; }
h1 { font-size: 5.61rem; }
h2 { font-size: 4.209rem; }
h3 { font-size: 3.157rem; }
h4 { font-size: 2.369rem; }
h5 { font-size: 1.777rem; }
h6 { font-size: 1.333rem; }
p, a { font-size: 1rem; }
small { font-size: 0.75rem; }
body { min-height: -webkit-fill-available; }
html { height: -webkit-fill-available; }
body { --pri-color: #000000; --sec-color: #E1DFDD; --ter-color: #787878; --grid-color: rgba(0, 0, 0, 0.1); --unde-color: rgba(0, 0, 0, 0.15); --blur-value: 10px; --mouse-color: var(--pri-color); }
body { background-color: var(--sec-color); color: var(--pri-color); margin-bottom: 2.5rem; transition: color 0.5s, background-color 0.5s; }
.easter-pointer { cursor: pointer; }
.only-s { display: none; }
a { text-decoration: none; color: unset; }
a > span, #email { position: relative; }
a > span::before { content: ""; position: absolute; width: 0px; bottom: -2px; right: 0px; border-bottom: 2px solid var(--pri-color); transition: 0.3s; }
.text-footer > a > span::before, nav a > span::before { content: ""; position: absolute; width: 0px; bottom: 0px; right: 0px; border-bottom: 2px solid var(--pri-color); transition: 0.3s; }
#email::before { content: ""; position: absolute; width: 0px; bottom: 0px; right: 0px; border-bottom: 2px solid var(--pri-color); transition: 0.3s; }
a.hovered > span::before, #email.hovered::before { border-bottom: 2px solid var(--pri-color); width: 100%; }
.secondary { font-size: 1rem; color: var(--ter-color); }
.colFlex { display: flex; flex-direction: column; }
.grid-container { display: grid; grid-template-columns: repeat(12, 1fr); gap: 20px; margin: 0px auto; width: 80%; }
.container { margin: 0px auto; width: 80%; }
#noise { pointer-events: none; }
#noise::before { content: ""; opacity: 0.4; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 999; pointer-events: none; }
@-webkit-keyframes noise {
  0%, 100% { background-position: 0px 0px; }
  10% { background-position: -5% -10%; }
  20% { background-position: -15% 5%; }
  30% { background-position: 7% -25%; }
  40% { background-position: 20% 25%; }
  50% { background-position: -25% 10%; }
  60% { background-position: 15% 5%; }
  70% { background-position: 0px 15%; }
  80% { background-position: 25% 35%; }
  90% { background-position: -10% 10%; }
}
@keyframes noise {
  0%, 100% { background-position: 0px 0px; }
  10% { background-position: -5% -10%; }
  20% { background-position: -15% 5%; }
  30% { background-position: 7% -25%; }
  40% { background-position: 20% 25%; }
  50% { background-position: -25% 10%; }
  60% { background-position: 15% 5%; }
  70% { background-position: 0px 15%; }
  80% { background-position: 25% 35%; }
  90% { background-position: -10% 10%; }
}
#bck { position: fixed; z-index: -1; }
#bck > .grid-item { border: 1px dashed var(--grid-color); min-height: 100dvh; }
#hero { min-height: calc(-30px + 100dvh); display: flex; flex-direction: column; justify-content: space-between; padding-top: 15px; }
#project, #about, #sideProject, #contact { margin-top: 20rem; }
#footer { margin-top: 10rem; }
#nav { position: fixed; height: 70px; width: 100%; backdrop-filter: blur(var(--blur-value)); padding-top: 15px; transform: translateY(-85px); visibility: hidden; }
.version { grid-column: 1 / 1; }
.ava { grid-column: 3 / 6; }
.pos { grid-column: 8 / 10; }
#nav > .grid-container > nav { grid-column: 13 / 10; text-align: right; }
.alan { grid-column: 9 / -1; font-size: 9rem; }
.bouteiller { grid-column: 2 / -1; font-size: 9rem; }
#title > h5 { grid-column: 3 / -1; margin-top: 8rem; }
#bottom { transform: translateY(3rem); visibility: hidden; }
.indic { grid-column: 1 / 1; text-align: left; }
.social { grid-column: 13 / 8; text-align: right; height: 100%; display: flex; flex-direction: column; justify-content: end; }
#project > .title { margin-bottom: 10rem; }
#project > .title > p { grid-column: 3 / 3; height: 100%; display: flex; flex-direction: column; justify-content: end; }
#project > .title > h2 { grid-column: 6 / -1; height: 100%; display: flex; flex-direction: column; justify-content: end; }
#project > .work { margin-top: 10rem; }
#project > .work > p, #project > .work > ul { margin-top: 5rem; }
#project > .work > h3, #project > .work > p, #project > .work > ul { grid-column: 6 / -1; }
#project > .work > ul > li { }
#about > .title { margin-bottom: 10rem; }
#about > .title > p { grid-column: 3 / 3; height: 100%; display: flex; flex-direction: column; justify-content: end; }
#about > .title > h2 { grid-column: 6 / -1; height: 100%; display: flex; flex-direction: column; justify-content: end; }
#about > .content > .pic { grid-area: 1 / 7 / 5 / 12; display: grid; }
#about > .content > .pic img { filter: grayscale(100%); }
#legend-s { display: none; }
#about > .content > p, #about > .content > ul { grid-column: 6 / 1; text-align: right; }
#sideProject > .title { margin-bottom: 10rem; }
#sideProject > .title > p { grid-column: 3 / 3; height: 100%; display: flex; flex-direction: column; justify-content: end; }
#sideProject > .title > h2 { grid-column: 6 / -1; height: 100%; display: flex; flex-direction: column; justify-content: end; }
#sideProject .sp { display: grid; grid-template-columns: repeat(1, 1fr); gap: 20px; }
#sideProject .spa { grid-column: 3 / 6; }
#sideProject .spb { grid-column: 7 / 10; }
#sideProject .spc { grid-column: 3 / 11; margin-top: 5rem; }
#contact > .title { margin-bottom: 10rem; }
#contact > .title > p { grid-column: 3 / 3; height: 100%; display: flex; flex-direction: column; justify-content: end; }
#contact > .title > h2 { grid-column: 6 / -1; height: 100%; display: flex; flex-direction: column; justify-content: end; }
#email-container { grid-column: 2 / -1; }
#email { width: fit-content; }
#email:hover { cursor: pointer; }
#tooltip { position: absolute; display: none; backdrop-filter: blur(var(--blur-value)); color: var(--pri-color); border-radius: 50%; height: 120px; width: 120px; z-index: 999; text-align: center; flex-direction: column; justify-content: center; align-items: center; }
#tooltip::after { content: ""; position: absolute; top: 0px; left: 0px; border-radius: 50%; width: 100%; height: 100%; background-image: url("broken-noise.png"); opacity: 0.2; }
#footer { height: 80px; clip-path: polygon(0px 0px, 100% 0px, 100% 110%, 0% 110%); }
#footer > .grid-container { height: 100%; }
#grid-footer { grid-column: 1 / -1; width: 100%; display: flex; transform: translateY(100%); }
#grid-footer > div { width: calc(33.3333%); clip-path: polygon(0px 0px, 100% 0px, 100% 110%, 0% 110%); text-align: center; display: flex; justify-content: center; align-items: center; padding: 1rem; }
.text-footer { transform: translateY(85px); }
#grid-footer > div:nth-child(1) { border-right: 2px solid var(--pri-color); border-left: 2px solid var(--pri-color); border-top: 2px solid var(--pri-color); border-bottom: 2px solid var(--pri-color); border-bottom-left-radius: 8px; }
#grid-footer > div:nth-child(2) { border-top: 2px solid var(--pri-color); border-bottom: 2px solid var(--pri-color); }
#grid-footer > div:nth-child(3) { border-right: 2px solid var(--pri-color); border-left: 2px solid var(--pri-color); border-top: 2px solid var(--pri-color); border-bottom: 2px solid var(--pri-color); border-bottom-right-radius: 8px; }
#nav-s { position: fixed; display: none; top: 0px; left: 0px; z-index: 2; width: 100dvw; height: 100dvh; background-color: var(--pri-color); color: var(--sec-color); pointer-events: all; transform: translateY(-2rem); opacity: 0; }
#nav-s div.nav-grid { display: grid; height: calc(100dvh); grid-template-columns: repeat(10, 1fr); gap: 20px; grid-template-rows: repeat(5, 1fr); }
#version-s { grid-area: 5 / 5 / auto / 10; display: flex; justify-content: right; align-items: end; padding-bottom: 15px; transform: translateY(2rem); opacity: 0; }
#cross { grid-area: 1 / 1 / auto / 10; text-align: right; cursor: pointer; padding-top: 15px; transform: translateY(-100%); opacity: 0; }
#nav-s nav { grid-area: 3 / 1 / auto / 3; padding-left: 1rem; }
#nav-s .link-s { transform: translateX(-110%); display: inline-block; }
#nav-s a { font-size: inherit; }
.emoji-container { position: absolute; width: 100dvw; pointer-events: none; }
.underlined.pm { --pm-dur: '0%'; }
.underlined.pm::before { content: ""; position: absolute; bottom: -0.25rem; width: var(--pm-dur); height: 14px; transform: skew(-12deg); background: var(--unde-color); z-index: -1; transition: width 0.03s; }
.underlined.dev { --dev-dur: '0%'; }
.underlined.dev::before { content: ""; position: absolute; bottom: -0.25rem; width: var(--dev-dur); height: 14px; transform: skew(-12deg); background: var(--unde-color); z-index: -1; transition: width 0.03s; }
.underlined { --und-dur: '0%'; }
.underlined::before { content: ""; position: absolute; bottom: -0.25rem; width: var(--und-dur); height: 14px; transform: skew(-12deg); background: var(--unde-color); z-index: -1; transition: width 0.03s; }
.animate-text, .animate-text-hc, .animate-title-hc { clip-path: polygon(0px 0px, 100% 0px, 100% 110%, 0% 110%); display: inline-block; }
.animate-pic { clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%); display: inline-block; height: fit-content; width: fit-content; }
.animate-pic > span { transform: translateY(100%); display: inline-block; visibility: hidden; }
h2 span.animate-title-hc span.animated-letter { display: inline-block; transform: translateY(4.209rem); visibility: hidden; }
p.animate-text-hc span.animated-word, p span.animate-text-hc span.animated-word, li.animate-text-hc span.animated-word, ul.link-list li a span.animate-text-hc span.animated-word, ul li span.animate-text-hc span.animated-word { display: inline-block; transform: translateY(1rem); visibility: hidden; }
h3 span.animate-text-hc span.animated-word, h3 span.secondary.animate-text-hc span.animated-word { display: inline-block; transform: translateY(3.157rem); visibility: hidden; }
h5 span.animate-text-hc span.animated-word { display: inline-block; transform: translateY(1.777rem); visibility: hidden; }
.letter { display: inline-block; transform: translateY(9rem); visibility: hidden; }
#loader { height: 100dvh; width: 100dvw; background-color: var(--sec-color); position: absolute; bottom: 0px; z-index: 1; }
#grid-loader { height: 100%; position: fixed; z-index: -1; }
.loader-col { content: ""; border-right: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0); height: 0px; display: inline-block; }
#cursor-circle { position: absolute; width: 30px; height: 30px; border: 2px solid var(--pri-color); border-radius: 50%; pointer-events: none; transform: translate(-50%, -50%); z-index: 1000; transition: width 0.3s, height 0.3s, border-color 0.3s; }
html.lenis, html.lenis body { height: auto; }
.lenis.lenis-smooth { scroll-behavior: auto !important; }
.lenis.lenis-smooth [data-lenis-prevent] { overscroll-behavior: contain; }
.lenis.lenis-stopped { overflow: hidden; }
.lenis.lenis-smooth iframe { pointer-events: none; }
html { font-size: 16px; }
@media (min-width: 1440px) {
  html { font-size: 18px; }
}
@media (min-width: 1535px) {
  html { font-size: 20px; }
}
@media (min-width: 800px) and (max-width: 1170px) {
  .grid-container { margin: 0px; width: 100%; }
  .container { margin: 0px; width: 100%; }
  #nav, #hero, #project, #about, #sideProject, #contact { padding: 0px 15px; }
  .pos { grid-column: 7 / 9; }
  #nav > .grid-container > nav { grid-column: 9 / 12; }
  .alan { grid-column: 7 / -1; }
}
@media (min-width: 800px) and (max-width: 1024px) {
  #project .title h2, #about .title h2, #sideProject .title h2, #contact .title h2, #project .work h3, #project .work p, #project .work ul { grid-column: 5 / 12; }
  #about .content > p { grid-column: 7 / 2; }
  #sideProject .spa { grid-column: 3 / 7; }
  #sideProject .spb { grid-column: 8 / 12; }
}
@media (min-width: 800px) and (max-width: 973px) {
  #sideProject .spc { grid-column: 3 / 12; }
}
@media (max-width: 800px) {
  .only-s { display: block; }
  html { font-size: 14px; }
  .grid-container { grid-template-columns: repeat(10, 1fr); margin: 0px; width: 100%; }
  .container { margin: 0px; width: 100%; }
  #nav, .animate-pic > canvas { display: none; }
  #name { font-size: 5rem; grid-column: 5 / -1; }
  #lastname { font-size: 5rem; grid-column: 2 / -1; }
  #email { font-size: 2rem; }
  #footer { height: min-content; }
  #project .title h2, #about .title h2, #sideProject .title h2, #contact .title h2, #project .work h3, #project .work p, #project .work ul, #about .content > p, #about .content > ul, #sideProject .spa, #sideProject .spb, #sideProject .spc, .title > p, #email-container { grid-column: 2 / 10 !important; }
  #about > .content > .pic { grid-column: 1 / -1 !important; }
  .animate-pic, img { width: 100%; }
  #legend-s { display: block; grid-column: 2 / 10; }
  #legend-h { display: none; }
  #menu { grid-column: 8 / 10; width: auto; text-align: right; cursor: pointer; }
  #title > h5 { grid-column: 2 / 9; }
}
[data-inline="body"] {  }
[data-inline="div"] { translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1; visibility: inherit; z-index: 2; }
[data-inline="h2"] { z-index: 1; }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="h2"] { z-index: 1; }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); --pm-dur: 200%; }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); --und-dur: 95%; }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); --und-dur: 95%; }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); --und-dur: 95%; }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); }
[data-inline="span"] { translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px); --dev-dur: 80%; }
[data-inline="div"] { translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1; visibility: inherit; }
[data-inline="canvas"] { width: 344px; height: 375px; }
[data-inline="p"] {  }
[data-inline="div"] { position: fixed; z-index: 999; transform: translateY(-50%); top: 50%;  right: 0 }
[data-inline="div"] { left: 1065px; top: 42px; }
